<div id="<%= dom_id student %>">
  <p>
    <strong>Studentid:</strong>
    <%= student.StudentID %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.Name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.Email %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= student.Year %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= student.Building %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= student.Room %>
  </p>

</div>
