<h1>Polar Bear Places</h1>

<h4>Click on a college house to see who is living there:</h4>
<%= link_to "Ladd", ladd_path %>
<%= link_to "Quinby", quinby_path %>
<%= link_to "Baxter", baxter_path %>
<%= link_to "Reed", reed_path %>
<%= link_to "Boody-Johnson", boodyjohnson_path %>
<%= link_to "Macmillan", macmillan_path %>
<%= link_to "Burnett", burnett_path %>
<%= link_to "Helmreich", helmreich_path %>
<%= link_to "Howell", howell_path %>


<% if MyDatum.all.length() == 0%>
	<h2>Enter your information to find out who you're living with!</h2>
	<%= form_tag do%>
		<p>Your student ID: <%= text_field_tag(:idInput)%></p>
		<p>Your name: <%= text_field_tag(:nameInput)%></p>
		<p>Your email: <%= text_field_tag(:emailInput)%></p>
		<p>Your year: <%= text_field_tag(:yearInput)%></p>
		<p>Your house: <%= text_field_tag(:houseInput)%></p>
		<p>Your room: <%= text_field_tag(:roomInput)%></p>
	<p><%= submit_tag "Enter info"%></p>
	<% end %>

<%= link_to "Add another student to the database", new_student_path %>
<% end %>

<% if MyDatum.all.length() != 0%>
	<h2>Your info:</h2>
	<%= render MyDatum.all[0]%>
	<p>
		<%= link_to "Edit your info", MyDatum.all[0] %>
		<%= "......"%>
		<%= link_to "Add another student to the database", new_student_path %>
	</p>


	<h2>Other students in your house:</h2>
	<div id="students">
	<% @students.each do |student| %>
			<% if student.Building == MyDatum.all.sort_by {|myData| [-myData.id, myData.Building]} [0].Building %>
			
			<%= student.Name%>
			<%= student.Email%>
			<%= link_to "Show this student", student %>
			<% end %>
	<% end %>
	</div>
<% end %>