<h1>Polar Bear Places</h1>

<div class="nav">
	<h4>Click on a college house to see who is living there:</h4>
	<%= link_to "Ladd", ladd_path %>
	<%= link_to "Quinby", quinby_path %>
	<%= link_to "Baxter", baxter_path %>
	<%= link_to "Reed", reed_path %>
	<%= link_to "Boody-Johnson", boodyjohnson_path %>
	<%= link_to "Macmillan", macmillan_path %>
	<%= link_to "Burnett", burnett_path %>
	<%= link_to "Helmreich", helmreich_path %>
	<%= link_to "Howell", howell_path %>
</div>

<% if MyDatum.all.length() == 0%>
	<h2>Enter your information to find out who you're living with!</h2>

	<%= render "my_data/form", my_datum: MyDatum.new%>

<%= link_to "Add another student to the database", new_student_path %>
<% end %>

<% if MyDatum.all.length() != 0%>
	<h2>Your info:</h2>


	<table class="center" cellpadding="6" cellspacing="-5" style="border:1px solid black";margin-left:auto;margin-right:auto;>
		<thead>
			<tr>
				<th>Student ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Year</th>
				<th>House</th>
				<th>Room Number</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td style="text-align: center; vertical-align: middle;"><%= MyDatum.all[0].StudentID%></td>
				<td style="text-align: center; vertical-align: middle;"><%= MyDatum.all[0].Name%></td>
				<td style="text-align: center; vertical-align: middle;"><%=MyDatum.all[0].Email%></td>
				<td style="text-align: center; vertical-align: middle;"><%=MyDatum.all[0].Year%></td>
				<td style="text-align: center; vertical-align: middle;"><%=MyDatum.all[0].Building%></td>
				<td style="text-align: center; vertical-align: middle;"><%=MyDatum.all[0].Room%></td>
			</tr>
		</tbody>
	</table>

	<% if MyDatum.all[0].avatar.attached?%>
		<%= image_tag MyDatum.all[0].avatar, :size => "260x180"%>
	<%end%>

	<p>
		<%= link_to "Edit your info", MyDatum.all[0] %>
		<%= "......"%>
		<%= link_to "Add another student to the database", new_student_path %>
	</p>


	<h2>Other students in your house:</h2>
	<div id="students">
	<%= image_tag("#{MyDatum.all.sort_by {|myData| [-myData.id, myData.Building]}[0].Building.downcase}.jpg", :size => "260x180", :crop => :fill)%>
	
	<% if @students.all.where(Building: MyDatum.all.sort_by {|myData| [-myData.id, myData.Building]} [0].Building).length == 0%>
		<h3>There are no students in your house</h3>
	<% else%>
		<table class="center" cellpadding="6" cellspacing="-5" style="border:1px solid black";margin-left:auto;margin-right:auto;>
			<thead>
				<tr>
					<th>Student ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Year</th>
					<th>House</th>
					<th>Room Number</th>
					<th>Link</th>
				</tr>
			</thead>
			<tbody>
			<% @students.each do |student| %>
				<% if student.Building == MyDatum.all.sort_by {|myData| [-myData.id, myData.Building]} [0].Building %>
					<tr>
						<td style="text-align: center; vertical-align: middle;"><%= student.StudentID%></td>
						<td style="text-align: center; vertical-align: middle;"><%=student.Name%></td>
						<td style="text-align: center; vertical-align: middle;"><%=student.Email%></td>
						<td style="text-align: center; vertical-align: middle;"><%=student.Year%></td>
						<td style="text-align: center; vertical-align: middle;"><%=student.Building%></td>
						<td style="text-align: center; vertical-align: middle;"><%=student.Room%></td>
						<td style="text-align: center; vertical-align: middle;"><%= link_to "Show this student", student %></td>
					</tr>
				<% end %>
			<% end %>
		</table>
	<% end %>
	</div>
<% end %>