<%= form_with(model: my_datum) do |form| %>
  <% if my_datum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(my_datum.errors.count, "error") %> prohibited this my_datum from being saved:</h2>

      <ul>
        <% my_datum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <%= form.label :StudentID %>
    <%= form.number_field :StudentID %>
  </div>

  <br>

  <div class="form">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <br>

  <div class="form">
    <%= form.label :Email %>
    <%= form.text_field :Email %>
  </div>

  <br>

  <div class="form">
    <%= form.label :Year %>
    <%= form.number_field :Year %>
  </div>

  <br>

  <div class="form">
    <%= form.label :Building %>
    <%= form.text_field :Building %>
  </div>

  <br>

  <div class="form">
    <%= form.label :Room %>
    <%= form.text_field :Room %>
  </div>

  <br>

  <div class="form">
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </div>

  <br>
    
  <div class="form">
    <%= form.submit %>
  </div>
<% end %>
