<div id="<%= dom_id my_datum %>">
  <p>
    <strong>Studentid:</strong>
    <%= my_datum.StudentID %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= my_datum.Name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= my_datum.Email %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= my_datum.Year %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= my_datum.Building %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= my_datum.Room %>
  </p>

</div>
